*{
    margin: 0px;
    padding: 0px;
}

body{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: antiquewhite;
    font-size: 50px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}


#countDown {
   margin-top: 250px;
    background-color: antiquewhite;
}